
{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
  {#  {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>#}


<h2 class="h2Heading"><span>E</span>Edit Profile</h2>
<div class="row">

        <div class="rowFull">
          <div class="half">
            <div class="inL">Full Name<span class="star">*</span></div>
            <div class="inR">
{{ form_widget(form.fullname)}}
{{ form_errors(form.fullname) }}
            </div>
          </div>
         <div class="half">
            <div class="inL">Mobile No<span class="star">*</span></div>
            <div class="inR">
 {{ form_widget(form.mobileNo)}}
 {{ form_errors(form.mobileNo) }}
            </div>
          </div>
        </div>
        <!-- rowFull -->

 <div class="rowFull country">
          <div class="half">
            <div class="inL">Country<span class="star">*</span></div>
            <div class="inR">
 {{ form_widget(form.country)}}
 {{ form_errors(form.country) }}
            </div>
          </div>
        </div>
        <!-- rowFull -->


 <div class="rowFull">
{{ form_rest(form) }}
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
        <!-- rowFull -->


 
   </div>




</form>

